body {
    background-color: lightgray;
    font-family: sans-serif;
    
    display: grid;
    grid-template-areas:
    "Header" 
    "FeaturedArticles" 
    "SideContent" 
    "Footer";
    grid-gap: 10px;
    padding: 10px;
    
}

.Header 
{
    display: grid;
    grid-template-areas:".LogoPic nav .LogInButton";
    grid-gap: 10px;
    padding: 10px;
    
}

.FeaturedArticles
{ 
    display: grid;
    grid-gap: 10px;
    padding: 10px;
}

.LogInButton
{
    align-content: center;
}

header>nav>ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header>nav>ul>li
{
    display: inline; 
}

.responsivePic
{
    width: 100%;
    max-width: 300px;
    height: auto;
}


.LogoPic{grid-area: LogoPic;}
.LogInButton{grid-area: LogInButton;}

.Header {grid-area: Header;}
.FeaturedArticles{grid-area: FeaturedArticles;}
.SideContent{grid-area: SideContent;}
.Footer {grid-area: Footer;}